################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/IdentityService/.vs/IdentityService/FileContentIndex
*.config
/IdentityService/.vs/IdentityService/DesignTimeBuild/.dtbcache.v2
/IdentityService/.vs/IdentityService/v17/.suo
/IdentityService/IdentityService/bin/Debug/net8.0/IdentityService.dll
/IdentityService/IdentityService/bin/Debug/net8.0/IdentityService.exe
/IdentityService/IdentityService/bin/Debug/net8.0/IdentityService.pdb
/IdentityService/IdentityService/obj/Debug/net8.0/ref/IdentityService.dll
/IdentityService/IdentityService/obj/Debug/net8.0/refint/IdentityService.dll
/IdentityService/IdentityService/obj/Debug/net8.0/apphost.exe
/IdentityService/IdentityService/obj/Debug/net8.0/IdentityService.AssemblyInfoInputs.cache
/IdentityService/IdentityService/obj/Debug/net8.0/IdentityService.AssemblyInfo.cs
/IdentityService/IdentityService/obj/Debug/net8.0/IdentityService.csproj.FileListAbsolute.txt
/IdentityService/IdentityService/obj/Debug/net8.0/IdentityService.dll
/IdentityService/IdentityService/obj/Debug/net8.0/IdentityService.pdb
*.json
/IdentityService/obj
/IdentityService/.vs
/IdentityService/bin/Debug
/IdentityService/IdentityService/bin/Debug/net8.0/appsettings.json
/IdentityService/IdentityService/bin/Debug/net8.0/IdentityService.deps.json
/IdentityService/IdentityService/obj/IdentityService.csproj.nuget.dgspec.json
/IdentityService/IdentityService/obj/IdentityService.csproj.nuget.g.props
/IdentityService/IdentityService/obj/IdentityService.csproj.nuget.g.targets
/IdentityService/IdentityService/obj/project.assets.json
/IdentityService/IdentityService/obj/project.nuget.cache
/IdentityService/IdentityService/obj/Container/AbsoluteOutputAssemblyPath.cache
/IdentityService/IdentityService/obj/Container/AdditionalProbingPaths.cache
/IdentityService/IdentityService/obj/Container/ContainerCreationResult.cache
/IdentityService/IdentityService/obj/Container/ContainerDevelopmentMode.cache
/IdentityService/IdentityService/obj/Container/ContainerId.cache
/IdentityService/IdentityService/obj/Container/ContainerName.cache
/IdentityService/IdentityService/obj/Container/ContainerOperatingSystemFlavor.cache
/IdentityService/IdentityService/obj/Container/ContainerRunContext.cache
/IdentityService/IdentityService/obj/Container/DebuggeeArguments.cache
/IdentityService/IdentityService/obj/Container/DebuggeeKillProcessCommand.cache
/IdentityService/IdentityService/obj/Container/DebuggeeProgram.cache
/IdentityService/IdentityService/obj/Container/DebuggeeWorkingDirectory.cache
/IdentityService/IdentityService/obj/Container/FastModeProjectMountDirectory.cache
/IdentityService/IdentityService/obj/Container/ImageBuildContext.cache
/IdentityService/IdentityService/obj/Container/ImageId.cache
/IdentityService/IdentityService/obj/Container/OperatingSystemName.cache
/IdentityService/IdentityService/obj/Container/TargetFramework.cache
/IdentityService/IdentityService/obj/Container/VolumeMappings.cache
/IdentityService/IdentityService/obj/Container/VsDbgScript.cache
/IdentityService/IdentityService/obj/Debug/net8.0/IdentityService.assets.cache
/IdentityService/IdentityService/obj/Debug/net8.0/project.razor.vs.bin
